.idea/copyright/profiles_settings.xml
.idea/kasl.iml
.idea/modules.xml
.idea/workspace.xml
.idea/vcs.xml
.idea/vcs.xml
.idea/vcs.xml
ci_session
media/img
media/img/thumbs
.idea/.name
.idea/misc.xml
.idea/encodings.xml